@import "owl";
@import "bootstrap";
@import "reset";

.custom-btn {
  background-color: $primary_color;
  color: $white_color;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  @include transition;

  &.btn-gold {
    background-color: $third_color;
    color: $dark_color;

    &:hover {
      background-color: $primary_color;
      color: $white_color;
      border-color: $third_color;
    }
  }

  &.btn-primary {
    background-color: $primary_color;
    color: $white_color;

    &:hover {
      background-color: $white_color;
      color: $primary_color;
      border-color: $primary_color;
    }
  }

  &.btn-outline {
    color: $third_color;
    background-color: $white_color;
    border-color: $third_color;

    &:hover {
      color: $white_color;
      background-color: $third_color;
      border-color: transparent;
    }
  }
}

.custom-form-group {
  position: relative;
  margin-bottom: 0.5rem;

  textarea,
  select,
  input {
    height: 72px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fafafa;
    border: none;
    outline: none;
    padding: 1rem;
    padding-top: 2rem;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    color: #666666;
  }

  textarea {
    height: unset;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }

  &.select-box {
    &::after {
      content: "\f107";
      font-family: "FontAwesome";
      font-weight: 900;
      position: absolute;
      top: 33px;
      left: 15px;
      font-size: 1rem;
    }
  }

  label {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 0.75rem;
    color: #666666;
    opacity: 0.6;
    font-weight: 500;
  }
}

.text-after {
  font-weight: 700;
  font-size: 2rem;

  &::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: $third_color;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &.center {
    text-align: center;

    &::after {
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    &::after {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1rem;
    }
  }
}

.owl-carousel {
  &.has-dots {
    .owl-dots {
      margin-top: 1.5rem;

      .owl-dot {
        span {
          @include transition;
        }

        &.active {
          span {
            transform: scale(1.2);
            background-color: $primary_color;
          }
        }
      }
    }
  }

  &.has-nav {
    .owl-nav {
      position: absolute;
      top: calc(50% - 1.5rem);
      margin: 0;
      width: 100%;

      button {
        position: absolute;
        @include transition;

        i {
          font-size: 2.4rem;
          padding: 0 0.5rem !important;
        }

        &:hover {
          background-color: transparent;
          transform: scale(1.3);
        }
      }

      .owl-prev {
        right: -1.3rem;
      }

      .owl-next {
        left: -1.3rem;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &.has-nav {
      .owl-nav {
        .owl-prev {
          right: -1rem;
        }

        .owl-next {
          left: -1rem;
        }
      }
    }
  }

  .owl-stage {
    display: flex;
    flex-direction: row;

    &::after {
      display: none;
    }

    .owl-item {
      float: none;
    }
  }
}

.header {
  position: relative;
  height: 135px;
  background-color: $primary_color;

  &__wrapper {
    .container {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      .custom-btn {
        padding: 1rem 2rem;
      }
    }

    &__logo {
      &.logo-sm {
        img {
          width: 90px;
        }
      }
    }
  }

  nav {
    background-color: $secondary_color;

    ul {
      display: flex;

      li {
        padding: 0.5rem 1rem;

        &:first-of-type {
          padding-right: 0;
        }

        a {
          color: $white_color;

          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }

  &__before {
    background-color: #05071f;
    padding: 0.5rem 0;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__phone {
      a {
        color: $white_color;
        margin-left: 1rem;

        i {
          font-size: 1.25rem;
        }

        &:hover {
          color: $third_color;
        }
      }
    }

    &__icons {
      display: flex;
      justify-content: flex-end;

      &__item {
        background-color: $third_color;
        border-radius: 0.5rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem;
        border: 1px solid transparent;
        @include transition;

        i {
          color: $white_color;
          @include transition;
        }

        &:hover {
          background-color: transparent;
          border-color: $third_color;

          i {
            color: $third_color;
          }
        }
      }
    }

    .fab.fa-whatsapp {
      color: #25d366;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    &__item {
      margin: 0 0.75rem;

      a {
        color: $white_color;

        &:hover {
          color: $third_color;
        }
      }

      &.has-children {
        position: relative;

        & > a {
          &::after {
            content: "\f0d7";
            font-family: "FontAwesome";
            font-weight: 900;
            color: $white_color;
            display: inline-block;
            margin-right: 0.5rem;
            @include transition;
          }
        }

        ul {
          background-color: $secondary_color;

          li {
            width: 100%;
            min-width: 150px;

            & > a {
              display: block;
              padding: 0.5rem 1.5rem;
            }

            &:not(:last-of-type) {
              border-bottom: 1px solid rgba($third_color, 0.4);
            }
          }
        }

        .first-menu {
          position: absolute;
          top: 30px;
          z-index: 5;
          opacity: 0;
          visibility: hidden;
          transform: rotateX(90deg);
          transform-origin: top;
          @include transition;
          width: max-content;

          &__item {
            &.has-children {
              position: relative;

              &::after {
                content: "\f0d9";
                font-family: "FontAwesome";
                font-weight: 900;
                color: $white_color;
                margin-right: 0.5rem;
                display: block;
                position: absolute;
                left: 0.5rem;
                top: calc(50% - 10px);
                @include transition;
              }

              .infinite-menu {
                position: absolute;
                right: 100%;
                top: 0;
                width: max-content;

                opacity: 0;
                visibility: hidden;
                transform: translateX(-1rem);
                @include transition;

                li.has-children {
                  position: relative;

                  &::after {
                    content: "\f0d9";
                    font-family: "FontAwesome";
                    font-weight: 900;
                    color: $white_color;
                    margin-right: 0.5rem;
                    display: block;
                    position: absolute;
                    left: 0.5rem;
                    top: calc(50% - 10px);
                    @include transition;
                  }

                  &:hover {
                    &::after {
                      color: $third_color;
                    }

                    & > .infinite-menu {
                      opacity: 1;
                      visibility: visible;
                      transform: translateX(0);
                    }
                  }
                }
              }

              &:hover {
                &::after {
                  color: $third_color;
                }

                & > .infinite-menu {
                  opacity: 1;
                  visibility: visible;
                  transform: translateX(0);
                }
              }
            }
          }
        }

        &:hover {
          & > .first-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
          }

          & > a {
            color: $third_color;

            &::after {
              color: $third_color;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .fixed-visible {
    display: none;
  }

  &__fixed {
    position: fixed;
    top: -100%;
    z-index: 9999;
    width: 100%;
    background-color: $primary_color;
    @include transition;

    &__shown {
      top: 0;
    }

    .fixed-none {
      display: none;
    }

    .fixed-visible {
      display: block;
    }
  }

  &__mobile {
    display: none;
    padding: 1rem 0;

    .container {
      display: flex;
      justify-content: center;
      position: relative;
    }

    .menu-button {
      display: block;
      font-size: 1.75rem;
      margin: 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      position: absolute;
      right: 1rem;
      top: calc(50% - 19px);

      .nav-icon {
        width: 30px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        @include transition;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 5px;
          width: 50%;
          background: $third_color;
          opacity: 1;
          transform: rotate(0deg);
          @include transition;

          &:nth-child(even) {
            left: 48%;
            border-radius: 0 5px 5px 0;
          }

          &:nth-child(odd) {
            left: 0px;
            border-radius: 5px 0 0 5px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            top: 0px;
          }

          &:nth-child(3),
          &:nth-child(4) {
            top: 12px;
          }

          &:nth-child(5),
          &:nth-child(6) {
            top: 24px;
          }
        }

        &.open {
          span {
            &:nth-child(1),
            &:nth-child(6) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(1) {
              left: 5px;
              top: 10px;
            }

            &:nth-child(2) {
              left: calc(50% - 5px);
              top: 10px;
            }

            &:nth-child(3) {
              left: -50%;
              opacity: 0;
            }

            &:nth-child(4) {
              left: 100%;
              opacity: 0;
            }

            &:nth-child(5) {
              left: 5px;
              top: 15px;
            }

            &:nth-child(6) {
              left: calc(50% - 5px);
              top: 15px;
            }
          }
        }
      }
    }

    img {
      width: 45px;
      height: 45px;
    }

    .mobile-menu {
      position: fixed;
      top: 82.5px;
      height: calc(100vh - 82.5px);
      width: 250px;
      background-color: $secondary_color;
      z-index: 9999;
      right: -100%;
      overflow-y: scroll;
      @include transition;

      &.open {
        right: 0;
      }

      li {
        a {
          display: block;
          padding: 0.6rem 1rem;
          color: $white_color;

          border-bottom: 1px solid rgba($third_color, 0.4);
        }

        &:last-of-type {
          a {
            border-bottom: none;
          }
        }
      }
    }

    .has-children {
      position: relative;

      .arrow {
        color: $white_color;
        position: absolute;
        left: 0;
        top: 0;
        width: 41.5px;
        height: 41.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition;

        &.active {
          color: $third_color;
          transform: rotate(180deg);
        }
      }

      ul {
        padding-right: 1rem;
        max-height: 0;
        overflow: hidden;
        @include transition;

        &.active {
          max-height: 1000px;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    height: 84px;

    &__wrapper,
    nav,
    &__before,
    &__menu,
    &__fixed {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }

  &.no-height {
    height: unset !important;
  }
}

.bg {
  &__man_with_money {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/man-with-maney.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__two_men {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/men.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__passport {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -15rem;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/passport-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/logo-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }
}

.immigration {
  &__intro {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;

    &__img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main-title {
      color: $third_color;
      font-weight: 700;
      position: relative;
      z-index: 2;
      font-size: 3em;

      span {
        font-weight: 500;
        font-size: smaller;
      }
    }

    h3 {
      color: $white_color;
      font-weight: 100;
      position: relative;
      z-index: 2;
      margin-bottom: 1.5rem;
    }

    span {
      color: $white_color;
    }

    .immigration-btn {
      display: none;
    }

    .home-btn {
      position: relative;
      z-index: 9;
      top: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        101.48deg,
        rgba(0, 0, 0, 0) 38.1%,
        rgba($primary_color, 0.8) 57.95%,
        $primary_color 70.54%
      );

      z-index: 1;
    }

    &.larg_intro {
      height: 560px;
    }

    @media only screen and (max-width: 768px) {
      padding: 0;

      &__img {
        position: unset;
        height: 280px;
      }

      .main-title {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      h3 {
        color: $dark_color;
        text-align: center;
        max-width: 230px;
        margin: 0 auto;

        &::after {
          content: "";
          display: block;
          width: 150px;
          height: 3px;
          background-color: $third_color;
          margin: 0 auto;
          margin-top: 1rem;
          margin-bottom: 1.5rem;
        }
      }

      span {
        color: $dark_color;
      }

      .immigration-btn {
        display: block;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5rem;
      }

      &::after {
        content: unset;
      }

      .home-btn {
        position: unset;
        display: block;
        max-width: 230px;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        color: $white_color;
      }

      .long-text {
        font-size: 1rem;
        color: $text_color;

        &::after {
          content: unset;
        }
      }

      &.larg_intro {
        height: unset;
      }
    }
  }

  &__nav {
    background-color: $secondary_color;

    ul {
      display: flex;
      padding: 0.75rem 0;

      li {
        padding: 0 1rem;
        position: relative;
        border-right: 2px solid $third_color;

        &:first-of-type {
          padding-right: 0;
          border-right: none;
        }

        a {
          color: $white_color;

          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }

  &__content {
    .main-title {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      &.text-center {
        &::after {
          position: relative;
          right: calc(50% - 75px);
        }
      }
    }

    p {
      font-weight: 300;
      color: $text_color;
      font-size: 1rem;
    }

    .video {
      border-radius: 1rem;
      overflow: hidden;
      width: 100%;
      height: auto;

      iframe {
        border-radius: 1rem;
        overflow: hidden;
      }
    }

    &__table {
      border-collapse: separate;
      border-spacing: 0 0.5rem;
      width: 100%;
      max-width: 60rem;
      margin: 0;
      margin-top: 3rem;

      tr {
        background-color: #e1e1e1;

        td,
        th {
          padding: 1rem 1.5rem;
        }

        th {
          font-weight: 400;
          color: #989898;
          font-size: 1rem;
        }

        td {
          color: $primary_color;
          font-weight: 700;
          font-size: 1rem;
        }
      }

      thead {
        th {
          &:first-of-type {
            border-radius: 0 0.5rem 0 0;
          }

          &:last-of-type {
            border-radius: 0.5rem 0 0;
          }
        }
      }

      tbody {
        tr:last-of-type {
          td,
          th {
            &:first-of-type {
              border-radius: 0 0 0.5rem 0;
            }

            &:last-of-type {
              border-radius: 0 0 0 0.5rem;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .main-title {
        text-align: center;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }

      p {
        text-align: center;
      }

      .video {
        margin-top: 1.5rem;
      }

      &__table {
        td,
        th {
          text-align: center;
          vertical-align: center;
          padding: 1rem 0.25rem !important;

          .md-text {
            display: none;
          }
        }
      }
    }
  }

  &__slider {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__tabs {
      background-color: $gray_color;
      border-radius: 1rem;
      width: 750px;
      margin: 0 auto;
      display: flex;
      position: relative;
      margin-bottom: 2rem;

      &__btn {
        width: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        position: relative;
        z-index: 2;
        color: $blue_color;
        font-weight: 700;
        cursor: pointer;
        @include transition;

        &:hover {
          color: $secondary_color;
        }

        &.active {
          color: $white_color;

          &:hover {
            color: $white_color;
            transform: translateY(-6px);
          }
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 33.3%;
        background-color: $primary_color;
        border-radius: 1rem;
        z-index: 1;
        right: 0;
        @include transition;
      }

      &.active-1 {
        &::before {
          right: 0;
        }
      }

      &.active-2 {
        &::before {
          right: 33.3%;
        }
      }

      &.active-0 {
        &::before {
          right: 66.6%;
        }
      }
    }

    &__item {
      background-color: $gray_color;
      border-radius: 1rem;
      height: 100%;
      @include transition;

      &__img {
        border-radius: 1rem;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      &__content {
        padding: 1.5rem 1rem;
        padding-top: 3rem;
        position: relative;

        &__logo {
          position: absolute;
          right: 1rem;
          top: -3rem;
          width: 6rem !important;
          height: 6rem;
          background-color: $white_color;
          border-radius: 100%;
          padding: 0.5rem;
          border: 5px solid $gray_color;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .name {
          font-weight: 700;
          font-size: 1.3rem;
          color: $dark_color;
          margin-bottom: 0.5rem;
        }

        .desc {
          font-weight: 700;
          font-size: 1rem;
          color: $blue_color;
          margin-bottom: 1rem;
        }

        .key {
          color: $dark_color;
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          display: flex;
        }

        .value {
          color: $text_color;
          font-weight: 500;
          font-size: 1rem;
          margin-right: 0.5rem;
        }
      }

      &:hover {
        box-shadow: 0px 0px 13px rgba(10, 14, 62, 0.25);
      }
    }

    &__wrapper {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transform: translateX(20px);
      @include transition;

      &.active-tab {
        opacity: 1;
        visibility: visible;
        max-height: unset;
        transform: translateX(0);
      }
    }

    .owl-stage-outer {
      padding: 1rem 0;
    }

    &.gray-bg {
      .immigration__slider__item,
      .immigration__slider__tabs {
        background-color: $white_color;
      }
    }

    @media only screen and (max-width: 768px) {
      &__tabs {
        display: none;
      }

      &__item {
        &__content {
          .key,
          .value {
            font-size: 0.9rem;
          }
        }
      }

      &.gray-bg-md {
        .immigration__slider__item,
        .immigration__slider__tabs {
          background-color: $white_color;
        }
      }

      &.white-bg-md {
        .immigration__slider__item,
        .immigration__slider__tabs {
          background-color: $gray_color;
        }
      }
    }
  }

  &__countries {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark_color;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    &__item {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        filter: grayscale(1);
        @include transition;
        margin-bottom: 1rem;
      }

      div {
        text-align: center;
        position: relative;
        top: 50px;
        font-weight: 800;
        @include transition;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }

        &__item {
          img {
            margin-bottom: 1rem;
          }
        }

        div {
          top: 0;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__title {
        text-align: center;
        font-size: 1.2rem;
        max-width: 250px;
        margin: 0 auto;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__item {
        img {
          margin-bottom: 1rem;
          transform: scale(0.75);
        }

        div {
          font-size: 1.5rem;
        }
      }

      .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .center {
        .immigration__countries__item {
          img {
            filter: grayscale(0);
            transform: scale(1);
          }

          div {
            top: 0;
          }
        }
      }
    }
  }

  &__contact_us {
    .main-title {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;
    }

    p {
      font-weight: 400;
      color: $text_color;
      font-size: 1rem;

      &::after {
        content: "";
        display: block;
        width: 200px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    @media only screen and (max-width: 768px) {
      .main-title {
        text-align: center;
      }

      p {
        text-align: center;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

.home {
  &__content {
    width: 100%;
    overflow: hidden;

    .row {
      width: 100%;
      margin: 0;

      & > * {
        padding: 0 !important;
      }
    }

    &__img {
      padding: 0;
      margin: 0;

      img {
        display: block;
        width: 100%;
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-right: 1rem;
      padding-left: 1.5rem;

      .main-title {
        font-weight: 400;
        font-size: 2rem;
        color: $dark_color;
        border-right: 2px solid $third_color;
        padding-right: 1rem;
        margin-bottom: 2rem;
      }

      p {
        font-weight: 300;
        font-size: 1rem;
        color: $text_color;
      }
    }

    .row:nth-child(even) {
      flex-direction: row-reverse;

      .home__content__data {
        padding-right: 2rem;
        padding-left: 1rem;
      }
    }

    @media only screen and (max-width: 768px) {
      &__data {
        padding: 1.5rem 1rem !important;

        .main-title {
          border-right: unset;
          padding-right: 0;
          text-align: center;

          &::after {
            content: "";
            display: block;
            width: 150px;
            height: 3px;
            background-color: $third_color;
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
        }

        p {
          text-align: center;
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__special {
    background-color: $primary_color;
    background-image: url("../images/Globe.png");
    background-position: center 7rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 0;

    .title {
      color: $third_color;
      font-size: 2rem;
      padding-right: 1.5rem;
      border-right: 2px solid $third_color;
    }

    .desc {
      color: $white_color;
      font-weight: 500;
      font-size: 1rem;
    }

    @media only screen and (max-width: 768px) {
      .title {
        padding-right: 0;
        border-right: 0;
        text-align: center;
        width: 100%;
      }

      .desc {
        text-align: center;
      }
    }
  }

  &__reasons {
    &__title {
      text-align: center;
      margin-bottom: 3rem;

      .main-title {
        font-weight: 900;
        font-size: 2rem;
        color: $dark_color;
      }

      p {
        font-weight: 500;
        font-size: 1rem;
        color: $text_color;
        max-width: 650px;
        margin: 0 auto;
      }
    }

    &__item {
      text-align: center;

      img {
        width: 7rem !important;
        height: auto;
        margin: 0 auto;
      }

      .title {
        color: $third_color;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }

      .desc {
        color: $text_color;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    &__slider {
      .owl-nav {
        i {
          color: $third_color;
        }
      }
    }
  }

  &__our_team {
    background-color: $primary_color;
    padding: 5rem 0;
    max-width: 100vw;
    overflow: hidden;

    .title {
      color: $white_color;
      font-weight: bold;
      font-size: 2rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      width: 200px;
    }

    &__item {
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
        @include transition;
      }

      &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $secondary_color;
        color: $white_color;
        padding: 0 1rem;
        padding-bottom: 1rem;
        padding-top: 0.75rem;
        bottom: -100%;
        @include transition;

        .name {
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
        }

        .job {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }

        .more {
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          color: $third_color;
          font-size: 1rem;
          font-weight: 400;
          width: max-content;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .home__our_team__item__content {
          bottom: 0;
        }
      }
    }

    .owl-nav {
      .owl-next {
        left: 2rem !important;
      }

      .owl-prev {
        right: 2rem !important;
      }

      button {
        background-color: $white_color !important;
        width: 2rem;
        height: 2rem;
        border-radius: 100% !important;
        display: flex !important;
        justify-content: center;
        align-items: center;

        i {
          font-size: 1rem !important;
        }
      }
    }
  }

  &__media {
    padding: 5rem 0;

    .title {
      font-weight: bold;
      font-size: 1.8rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 768px) {
      .title {
        border-right: 0;
        padding-right: 0;
        text-align: center;

        &::after {
          content: "";
          display: block;
          width: 150px;
          height: 3px;
          background-color: #c19463;
          margin: 0 auto;
          margin-top: 1rem;
          margin-bottom: 1.5rem;
        }
      }

      .d-flex {
        flex-direction: column;

        img {
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
  }

  &__news {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__item {
      padding-bottom: 0.5rem;

      &__img {
        overflow: hidden;
        display: block;

        img {
          @include transition;
        }
      }

      .title {
        font-weight: bold;
        font-size: 1.3rem;
        color: $dark_color;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1rem;
        color: $text_color;
        margin-bottom: 1rem;
      }

      .custom-btn {
        display: block;
        width: max-content;
        padding: 0.5rem 1.5rem;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__item {
        .title,
        .desc {
          text-align: center;
        }

        .custom-btn {
          margin: 0 auto;
        }
      }
    }
  }
}

.country {
  &__intro {
    &__banner {
      width: 100%;
      height: 100vh;
      max-height: 320px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__content {
      position: relative;
      min-height: 250px;
      padding-top: 4rem;

      &__logo {
        background-color: $white_color;
        border-radius: 100%;
        width: 7rem;
        height: 7rem;
        padding: 1rem;
        position: absolute;
        top: -3.5rem;
        right: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        color: $primary_color;
        font-weight: 800;
        font-size: 2rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1rem;
        color: $text_color;
      }

      .video {
        border-radius: 1rem;
        overflow: hidden;
        width: 100%;
        height: auto;

        iframe {
          border-radius: 1rem;
          overflow: hidden;
        }
      }

      &__table {
        margin-top: 1rem;

        .content-row {
          width: 100%;
          margin-bottom: 1rem;
          display: flex;
          flex-wrap: wrap;
          border-radius: 0.5rem;

          .item {
            padding: 0.5rem 1rem;
            width: 50%;
            display: flex;
            justify-content: space-between;
            background-color: #e1e1e1;

            & > div {
              width: 50%;

              &.key {
                color: $text_color;
                font-size: 1rem;
                font-weight: 400;
              }

              &.value {
                color: $primary_color;
                font-size: 1rem;
                font-weight: 800;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__content {
        padding-top: 2rem;

        &__logo {
          display: none;
        }

        .name,
        .desc {
          text-align: center;
        }

        .video {
          margin-top: 1.5rem;
        }

        &__table {
          .content-row {
            border-radius: 0;
            margin-bottom: 0;

            .item {
              width: 100%;
              border-radius: 0.5rem;
              margin-bottom: 0.5rem;

              .key {
                display: flex;
                align-items: center;
              }

              .value {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  &__content {
    &__flag {
      img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }

    &__desc {
      color: $text_color;
      font-weight: 400;
      font-size: 1rem;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      .item {
        width: calc(50% - 1rem);
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        background-color: $gray_color;
        padding: 0.5rem 1rem;
        display: flex;

        .key {
          width: 50%;
          color: $text_color;
          font-size: 1rem;
          font-weight: 400;
        }

        .value {
          width: 50%;
          color: $primary_color;
          font-size: 1rem;
          font-weight: 800;
        }

        &:last-child {
          width: 100%;

          .key,
          .value {
            width: 25%;
          }
        }
      }
    }

    &__map {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    @media only screen and (max-width: 768px) {
      &__flag {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        img {
          max-width: 70%;
        }
      }

      &__desc {
        text-align: center;
      }

      &__list {
        .item {
          width: 100%;
          margin-left: 0;
          margin-bottom: 0.5rem;

          .value {
            text-align: left;
          }

          &:last-child {
            .key,
            .value {
              width: 50%;
            }
          }
        }
      }

      &__map {
        display: none;
      }
    }
  }

  &__info {
    &__img {
      img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        object-fit: cover;
      }
    }

    &__content {
      padding-top: 1rem;

      .list {
        list-style: unset;
        padding-right: 1.5rem;

        li {
          color: $text_color;
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
      }

      .desc {
        color: $text_color;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    @media only screen and (max-width: 768px) {
      &__img {
        img {
          max-height: 50vh;
          width: 100%;
        }
      }

      &__content {
        p,
        .text-after {
          text-align: center;
        }

        .list {
          list-style-position: inside !important;
          text-align: center;
          padding-right: 0 !important;
        }
      }
    }
  }

  &__situation {
    .sub-title {
      font-weight: 500;
      font-size: 1.2rem;
      color: $dark_color;
      margin-bottom: 0;
    }

    .title {
      font-weight: 700;
      font-size: 2rem;
      color: $dark_color;
    }

    .desc {
      color: $text_color;
      font-weight: 500;
      font-size: 1rem;
    }

    @media only screen and (max-width: 768px) {
      text-align: center;

      .desc {
        margin-bottom: 1rem;
      }
    }
  }

  &__tables {
    &__wrapper {
      background-color: $primary_color;
      border-radius: 1rem;

      &.accordion-md {
        height: 100%;

        .accordion-header {
          span {
            display: none;
          }
        }
      }

      &__header {
        color: $third_color;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1.5rem 1rem;
        padding-bottom: 1rem;

        span {
          color: $white_color;
          font-size: 0.9rem;
          font-weight: 400;
        }
      }

      &__body {
        padding: 1.5rem 1rem;
        padding-top: 0;

        .desc {
          color: $white_color;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      table,
      &__table {
        border: 1px solid $third_color;
        border-radius: 1rem;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2rem;
        width: 100%;

        tr,
        .table-row {
          display: flex;

          &:not(:last-child) {
            border-bottom: 1px solid $third_color;
          }

          td:first-child,
          .key {
            border-left: 1px solid $third_color;
            padding: 1.5rem 1rem;
            font-size: 1rem;
            font-weight: 200;
            color: $figma_text;
          }

          td:last-child,
          .value {
            padding: 1.5rem 1rem;
            font-size: 1rem;
            font-weight: 700;
            color: $white_color;
            display: flex;
            align-items: center;
          }

          .key {
            width: 70%;
          }

          .value {
            width: 30%;
          }
        }
      }

      table {
        border-collapse: unset;
      }

      &__point {
        margin-top: 1.5rem;

        .bold {
          font-weight: 800;
          font-size: 1rem;
          color: $white_color;
        }

        .desc {
          font-weight: 400;
          display: inline-block;
          font-size: 0.9rem;
          color: $figma_text;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white_color;
      }

      p {
        color: $figma_text;
      }

      ul {
        color: $figma_text;
        list-style: unset;
        padding-right: 1rem;
      }

    }

    @media only screen and (max-width: 768px) {
      &__wrapper {
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__table {
          .table-row {
            .key {
              width: 60%;
            }

            .value {
              width: 40%;
            }
          }
        }

        &__body {
          display: none;
        }

        &.accordion-md {
          .accordion-header {
            span {
              display: block;
            }
          }
        }
      }
    }
  }

  &__steps {
    .title {
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      color: $dark_color;
      margin-bottom: 4rem;
      position: relative;
      z-index: 5;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 0;
        border-bottom: 3px solid $third_color;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    .top-line {
      position: absolute;
      top: -150px;
      right: calc(50% - 200px);
      width: 200px;
      height: 150px;
      border-bottom-left-radius: 75px;
      border-top-left-radius: 75px;
      border: 3px solid $third_color;
      border-right: unset;
      border-top: unset;

      &::before {
        content: "";
        display: block;
        width: 150px;
        height: 85px;
        position: absolute;
        background-color: $white_color;
        top: 0;
        left: -50px;
        z-index: 1;
      }
    }

    .steps {
      width: 500px;
      counter-reset: listCounter;

      .item {
        counter-increment: listCounter;
        display: flex;
        align-items: center;
        padding: 1rem;
        position: relative;

        .counter {
          width: 6rem;
          max-width: 6rem;
          min-width: 6rem;
          height: 6rem;
          max-height: 6rem;
          min-height: 6rem;
          border-radius: 100%;
          background-color: $gray_color;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.5rem;
          position: relative;
          z-index: 5;

          &::after {
            content: counter(listCounter);
            font-size: 2rem;
            color: $third_color;
          }
        }

        .hider {
          height: calc(100% + 6px);
          aspect-ratio: 1;
          background-color: $white_color;
          position: absolute;
          right: -60px;
          z-index: 1;
        }

        .desc {
          color: $text_color;
          font-size: 1rem;
          font-weight: 400;
          position: relative;
          z-index: 5;
        }

        &::before {
          content: "";
          display: block;
          height: calc(100% + 6px);
          aspect-ratio: 1;
          position: absolute;
          right: 0;
          border: 3px solid $third_color;
          border-radius: 0 100% 100% 0;
          z-index: 2;
        }

        &::after {
          content: "";
          display: block;
          height: 100%;
          aspect-ratio: 1;
          background-color: $white_color;
          position: absolute;
          right: 15px;
          z-index: 3;
          border-radius: 0 100% 100% 0;
        }

        &:not(:last-child) {
          border-bottom: 3px solid $third_color;
        }

        &:last-child {
          &::after {
            height: 100%;
            top: 0;
          }

          .counter {
            &::before {
              content: "";
              display: block;
              width: 200%;
              height: 100%;
              background-color: $white_color;
              position: absolute;
              top: 100%;
              right: 100%;
              z-index: 5;
            }
          }
        }

        &:nth-child(even) {
          flex-direction: row-reverse;

          &::before {
            right: unset;
            left: 0;
            border-radius: 100% 0 0 100%;
          }

          &::after {
            right: unset;
            left: 15px;
            border-radius: 100% 0 0 100%;
          }

          .hider {
            right: unset;
            left: -60px;
          }

          .counter {
            margin-left: 0;
            margin-right: 1.5rem;

            &::before {
              right: unset;
              left: 100%;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 576px) {
      .top-line {
        display: none;
      }

      .title {
        margin-bottom: 1rem;
      }

      .steps {
        .item {
          border-bottom: unset !important;
          flex-direction: column !important;

          .counter {
            width: 5rem;
            min-width: 5rem;
            max-width: 5rem;
            height: 5rem;
            min-height: 5rem;
            max-height: 5rem;
            margin: 0 !important;

            &::after {
              font-size: 1.5rem;
            }
          }

          .desc {
            text-align: center;
            margin-top: 0.5rem;
          }

          .hider {
            display: none;
          }

          &::after,
          &::before {
            content: unset;
          }
        }
      }
    }
  }
}

.contact_us {
  &__intro {
    &__banner {
      background-color: #b6b5b3;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 1360px;
        height: 100%;
        object-fit: cover;

        &.w-100 {
          max-width: 100%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .text-after {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 0.5rem;

        span {
          font-weight: 700;
          font-size: 1.5rem;
        }

        &::after {
          margin: 0 auto;
          margin-top: 1rem;
        }
      }

      .desc {
        color: $text_color;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        max-width: 60%;
      }
    }

    @media only screen and (max-width: 1400px) {
      &__banner {
        img {
          max-width: 70%;

          &.w-100 {
            max-width: 100%;
          }
        }
      }
    }

    @media only screen and (max-width: 992px) {
      &__content {
        .desc {
          max-width: 100%;
        }
      }
    }

    @media only screen and (max-width: 576px) {
      &__banner {
        img {
          max-width: unset;
          width: 100%;
          min-height: 300px;
        }
      }
    }
  }

  &__testimonial {
    background-color: $primary_color;

    .text-after {
      color: $white_color;
      text-align: center;

      &::after {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $black_color;
      padding: 1.5rem 1rem;
      border-radius: 1rem;
      min-height: 350px;
      width: 100%;
      max-width: 960px;

      .user {
        width: 100px !important;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
      }

      .name {
        color: $figma_text;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0.5rem 0;
      }

      .stars {
        margin-bottom: 1rem;
        i {
          color: $white_text;

          &.filled {
            color: $yellow_color;
          }
        }
      }

      .desc {
        color: $figma_text;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
      }
    }

    .owl-carousel {
      .owl-item {
        display: flex;
        justify-content: center;
      }

      .owl-nav {
        i {
          color: $white_color;
        }
      }

      .owl-dots {
        .owl-dot {
          span {
            background-color: $figma_text;
            opacity: 0.4;
          }

          &.active {
            span {
              opacity: 1;
              background-color: $figma_text;
              transform: scale(1.1) !important;
            }
          }
        }
      }
    }
  }

  &__office {
    &__slider {
      .immigration__slider__item__img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .immigration__slider__item__content {
        padding-top: 1rem;

        .name {
          text-align: center;
          font-size: 1.5rem;
        }

        .address {
          color: $blue_color;
          font-weight: 400;
          font-size: 1rem;
          text-align: center;
          margin-bottom: 1rem;
        }

        .info {
          width: 300px;
          max-width: 100%;
          margin: 0 auto;

          &-row {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 1rem;

            .key {
              color: $white_text;
              font-weight: 300;
              text-align: left;
              direction: ltr;
              margin: 0;
            }

            .value {
              color: $text_color;
              font-weight: 500;
              text-align: right;
              direction: ltr;
              margin: 0;
            }

            a.value {
              color: $text_color;
              @include transition;

              &::hover {
                color: $blue_color;
              }
            }
          }
        }
      }
    }
  }

  &__Publishers {
    .item {
      border-radius: 1rem;
      background-color: $white_color;
      padding: 1rem;
    }
  }

  &__magazines {
    .item {
      border-radius: 1rem;
      background-color: $gray_color;
      padding: 1rem;
    }
  }
}

.about_us {
  &__content {
    &__row {
      margin-bottom: 2rem;

      .text-after {
        span {
          font-weight: 700;
          font-size: 1.5rem;
        }
      }

      .desc {
        color: $text_color;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      &__img {
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
        border-radius: 1rem;
      }

      .row {
        align-items: center;
      }

      &:nth-child(even) {
        .row {
          flex-direction: row-reverse;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__row {
        .text-after {
          text-align: center;
          margin-bottom: 2rem;
        }

        .desc {
          text-align: center;
        }

        &__img {
          max-height: 15rem;
        }

        .row {
          flex-direction: column-reverse !important;
        }
      }
    }
  }
}

.btn-landing {
  height: calc(100% - 1rem);
}

.footer {
  background-color: $primary_color;
  position: relative;
  padding-top: 3rem;

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__logo {
      width: 200px;
      max-width: 100%;
      height: auto;
    }

    &__icons {
      display: flex;
      justify-content: space-around;
      width: 200px;
      max-width: 100%;
      margin-top: 1rem;

      a {
        background-color: $third_color;
        color: $white_color;
        border-radius: 0.5rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__address {
      margin-top: 2.5rem;

      .title {
        color: $white_text;
        font-weight: 700;
        font-size: 1rem;
      }

      .desc {
        color: $white_color;
        font-weight: 400;
        font-size: 1rem;
      }
    }

    &__contact {
      margin-top: 2.5rem;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        i {
          color: $third_color;
          font-size: 1.5rem;
          @include transition;
        }

        span {
          color: $white_color;
          font-size: 1rem;
          font-weight: 400;
          margin-right: 0.75rem;
          height: 26px;
          line-height: 26px;
          @include transition;
        }

        &:hover {
          i {
            transform: translateX(-0.3rem);
            color: $white_color;
          }

          span {
            color: $third_color;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 20%;

      .title {
        color: $white_text;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      a {
        color: $white_color;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        @include transition;

        &:hover {
          color: $third_color;
        }
      }
    }

    &__lg {
      display: flex;
    }

    &__sm {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/footer-after.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27rem;
    height: 27rem;
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &__bottom {
    background-color: $black_color;
    color: $white_color;
    padding: 1rem 0;
    margin-top: 3rem;
  }

  @media only screen and (max-width: 1200px) {
    &__list {
      &__item {
        text-align: center;
        align-items: center;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    &__list {
      margin-top: 1.5rem;

      &__item {
        width: 100%;
      }

      .title {
        color: rgba($third_color, 0.8);
        height: 26px;
      }

      .link {
        margin-bottom: 1rem;
        height: 26px;
        white-space: nowrap;
      }

      &__lg {
        display: none;
      }

      &__sm {
        display: flex;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &__right {
      &__logo {
        align-self: center;
      }

      &__icons {
        align-self: center;
        margin-top: 1.5rem;
      }

      &__address {
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        margin-top: 1.5rem;
      }

      &__contact {
        max-width: 200px;
        margin: 0 auto;
        margin-top: 1.5rem;
      }
    }

    &::after {
      content: unset;
    }

    &__bottom {
      text-align: center;
    }
  }
}

.modal {
  &__overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    overflow-y: scroll;
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    @include transition;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media only screen and (max-width: 768px) {
      align-items: unset;
    }
  }

  &__consultation {
    background-color: $white_color;
    border-radius: 1rem;
    padding: 3rem 2rem;
    z-index: 99999;
    width: 100%;
    max-width: 800px;
    height: max-content;
    position: relative;
    @include transition;
    transform: translateY(5rem);
    opacity: 0;
    visibility: hidden;

    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .close-modal {
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      position: absolute;
      top: 0.25rem;
      right: 0.5rem;
      background-color: $primary_color;
      border: 1px solid $primary_color;
      color: $white_color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include transition;

      i {
        @include transition;
      }

      &:hover {
        background-color: $white_color;
        border-color: $primary_color;

        i {
          transform: rotate(90deg);
          color: $primary_color;
        }
      }
    }

    .main-title {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 1rem;

      img {
        width: 150px;
        height: 150px;
        margin-right: 1rem;
      }

      .inner-title {
        .title {
          font-weight: 700;
          color: $dark_color;
          font-size: 1.8rem;
        }

        .desc {
          font-weight: 500;
          color: $text_color;
          font-size: 1.3rem;
        }
      }
    }

    form {
      .custom-btn {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @media only screen and (max-width: 768px) {
      .main-title {
        flex-direction: column;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          margin-right: 0;
          margin-bottom: 1.5rem;
        }

        .inner-title {
          text-align: center;
        }
      }
    }
  }
}
