@import "owl";
@import "bootstrap";
@import "reset";

.custom-btn {
  background-color: $primary_color;
  color: $white_color;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  @include transition;

  &.btn-gold {
    background-color: $third_color;
    color: $dark_color;
    &:hover {
      background-color: $primary_color;
      color: $white_color;
      border-color: $third_color;
    }
  }

  &.btn-outline {
    color: $third_color;
    background-color: $white_color;
    border-color: $third_color;

    &:hover {
      color: $white_color;
      background-color: $third_color;
      border-color: transparent;
    }
  }
}

.custom-form-group {
  position: relative;
  margin-bottom: 0.5rem;

  input {
    height: 72px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fafafa;
    border: none;
    outline: none;
    padding: 1rem;
    padding-top: 2rem;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    color: #666666;
  }

  label {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 0.75rem;
    color: #666666;
    opacity: 0.6;
    font-weight: 500;
  }
}

.text-after {
  &::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #c19463;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.owl-carousel {
  &.has-dots {
    .owl-dots {
      margin-top: 1.5rem;
      .owl-dot {
        span {
          @include transition;
        }

        &.active {
          span {
            transform: scale(1.2);
            background-color: $primary_color;
          }
        }
      }
    }
  }

  &.has-nav {
    .owl-nav {
      position: absolute;
      top: calc(50% - 1.5rem);
      margin: 0;
      width: 100%;

      button {
        position: absolute;
        @include transition;

        i {
          font-size: 2.4rem;
          padding: 0 0.5rem !important;
        }

        &:hover {
          background-color: transparent;
          transform: scale(1.3);
        }
      }

      .owl-prev {
        right: -3rem;
      }

      .owl-next {
        left: -3rem;
      }
    }
  }
}

.header {
  background-color: $primary_color;

  &__wrapper {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      .custom-btn {
        padding: 1rem 2rem;
      }
    }
  }

  nav {
    background-color: $secondary_color;

    ul {
      display: flex;

      li {
        padding: 0.5rem 1rem;

        &:first-of-type {
          padding-right: 0;
        }

        a {
          color: $white_color;
          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }
}

.bg {
  &__man_with_money {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/man-with-maney.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__two_men {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/men.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__passport {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -15rem;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/passport-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/logo-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }
}

.immigration {
  &__intro {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
      color: $third_color;
      font-weight: 700;
      position: relative;
      z-index: 2;
    }
    h3 {
      color: $white_color;
      font-weight: 500;
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        101.48deg,
        rgba(0, 0, 0, 0) 38.1%,
        rgba($primary_color, 0.8) 57.95%,
        $primary_color 70.54%
      );

      z-index: 1;
    }

    &.larg_intro {
      height: 560px;
    }
  }

  &__nav {
    background-color: $secondary_color;

    ul {
      display: flex;
      padding: 0.75rem 0;

      li {
        padding: 0 1rem;
        position: relative;
        border-right: 2px solid $third_color;

        &:first-of-type {
          padding-right: 0;
          border-right: none;
        }

        a {
          color: $white_color;

          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }

  &__content {
    h1 {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      &.text-center {
        &::after {
          position: relative;
          right: calc(50% - 75px);
        }
      }
    }

    p {
      font-weight: 400;
      color: $text_color;
      font-size: 1rem;
    }

    .video {
      border-radius: 1rem;
      overflow: hidden;
      width: 385px;
      height: 230px;
    }
  }

  &__slider {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: #c19463;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__tabs {
      background-color: $gray_color;
      border-radius: 1rem;
      width: 750px;
      margin: 0 auto;
      display: flex;
      position: relative;
      margin-bottom: 2rem;

      &__btn {
        width: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        position: relative;
        z-index: 2;
        color: $blue_color;
        font-weight: 700;
        @include transition;

        &:hover {
          color: $secondary_color;
        }

        &.active {
          color: $white_color;

          &:hover {
            color: $white_color;
            transform: translateY(-6px);
          }
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 33.3%;
        background-color: $primary_color;
        border-radius: 1rem;
        z-index: 1;
        right: 0;
        @include transition;
      }

      &.active-1 {
        &::before {
          right: 0;
        }
      }

      &.active-2 {
        &::before {
          right: 33.3%;
        }
      }

      &.active-0 {
        &::before {
          right: 66.6%;
        }
      }
    }

    &__item {
      background-color: $gray_color;
      border-radius: 1rem;
      @include transition;

      &__img {
        border-radius: 1rem;
      }

      &__content {
        padding: 1.5rem 1rem;
        padding-top: 3rem;
        position: relative;

        &__logo {
          position: absolute;
          right: 1rem;
          top: -3rem;
          width: 6rem !important;
          height: 6rem;
          background-color: $white_color;
          border-radius: 100%;
          padding: 0.5rem;
          border: 5px solid $gray_color;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .name {
          font-weight: 700;
          font-size: 1.3rem;
          color: $dark_color;
          margin-bottom: 0.5rem;
        }

        .desc {
          font-weight: 700;
          font-size: 1rem;
          color: $blue_color;
          margin-bottom: 1rem;
        }

        .key {
          color: $dark_color;
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          display: flex;
        }

        .value {
          color: $text_color;
          font-weight: 500;
          font-size: 1rem;
          margin-right: 0.5rem;
        }
      }

      &:hover {
        box-shadow: 0px 0px 13px rgba(10, 14, 62, 0.25);
      }
    }

    .owl-stage-outer {
      padding: 1rem 0;
    }

    &.gray-bg {
      .immigration__slider__item,
      .immigration__slider__tabs {
        background-color: $white_color;
      }
    }
  }

  &__countries {
    &__title {
      font-size: 1rem;
      font-weight: 700;
      color: $dark_color;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: #c19463;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    &__item {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        filter: grayscale(1);
        @include transition;
      }

      div {
        text-align: center;
        position: relative;
        top: 50px;
        font-weight: 800;
        @include transition;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }

        div {
          top: 0;
        }
      }
    }
  }

  &__contact_us {
    h1 {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;
    }

    p {
      font-weight: 400;
      color: $text_color;
      font-size: 1rem;

      &::after {
        content: "";
        display: block;
        width: 200px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    img {
      border-radius: 1rem;
    }
  }
}

.home {
  &__content {
    width: 100vw;

    &__img {
      padding: 0;
      margin: 0;
    }

    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      h1 {
        font-weight: bold;
        font-size: 2rem;
        color: $dark_color;
        border-right: 2px solid $third_color;
        padding-right: 1rem;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: $text_color;
      }
    }

    .row:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__special {
    background-color: $primary_color;
    background-image: url("../images/Globe.png");
    background-position: center 7rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 0;

    .title {
      color: $third_color;
      font-weight: 900;
      font-size: 2rem;
      padding-right: 1.5rem;
      border-right: 2px solid $third_color;
    }

    .desc {
      color: $white_color;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  &__reasons {
    &__title {
      text-align: center;
      margin-bottom: 3rem;

      h1 {
        font-weight: 900;
        font-size: 2rem;
        color: $dark_color;
      }

      p {
        font-weight: 500;
        font-size: 1rem;
        color: $text_color;
        max-width: 650px;
        margin: 0 auto;
      }
    }
    &__item {
      text-align: center;

      img {
        width: 7rem !important;
        height: auto;
        margin: 0 auto;
      }

      .title {
        color: $third_color;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }

      .desc {
        color: $text_color;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    &__slider {
      .owl-nav {
        i {
          color: $third_color;
        }
      }
    }
  }

  &__our_team {
    background-color: $primary_color;
    padding: 5rem 0;

    .title {
      color: $white_color;
      font-weight: bold;
      font-size: 2rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      width: 200px;
    }

    &__item {
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
        @include transition;
      }

      &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $secondary_color;
        color: $white_color;
        padding: 0 1rem;
        padding-bottom: 1rem;
        padding-top: 0.75rem;
        bottom: -100%;
        @include transition;

        .name {
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
        }

        .job {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }

        .more {
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          color: $third_color;
          font-size: 1rem;
          font-weight: 400;
          width: max-content;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .home__our_team__item__content {
          bottom: 0;
        }
      }
    }
  }

  &__media {
    padding: 5rem 0;

    .title {
      font-weight: bold;
      font-size: 1.8rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }
  }

  &__news {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: #c19463;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__item {
      &__img {
        overflow: hidden;
        display: block;

        img {
          @include transition;
        }
      }

      .title {
        font-weight: bold;
        font-size: 1.3rem;
        color: $dark_color;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1rem;
        color: $text_color;
        margin-bottom: 1rem;
      }

      .custom-btn {
        display: block;
        width: max-content;
        padding: 0.5rem 1.5rem;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

  }
}
