@import "owl";
@import "bootstrap";
@import "reset";

.custom-btn {
  background-color: $primary_color;
  color: $white_color;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  @include transition;

  &.btn-gold {
    background-color: $third_color;
    color: $dark_color;

    &:hover {
      background-color: $primary_color;
      color: $white_color;
      border-color: $third_color;
    }
  }

  &.btn-outline {
    color: $third_color;
    background-color: $white_color;
    border-color: $third_color;

    &:hover {
      color: $white_color;
      background-color: $third_color;
      border-color: transparent;
    }
  }
}

.custom-form-group {
  position: relative;
  margin-bottom: 0.5rem;

  textarea,
  select,
  input {
    height: 72px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fafafa;
    border: none;
    outline: none;
    padding: 1rem;
    padding-top: 2rem;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    color: #666666;
  }

  textarea {
    height: unset;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }

  &.select-box {
    &::after {
      content: "\f107";
      font-family: "FontAwesome";
      font-weight: 900;
      position: absolute;
      top: 33px;
      left: 15px;
      font-size: 1rem;
    }
  }

  label {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 0.75rem;
    color: #666666;
    opacity: 0.6;
    font-weight: 500;
  }
}

.text-after {
  &::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: $third_color;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  @media only screen and (max-width: 768px) {
    &::after {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1rem;
    }
  }
}

.owl-carousel {
  &.has-dots {
    .owl-dots {
      margin-top: 1.5rem;

      .owl-dot {
        span {
          @include transition;
        }

        &.active {
          span {
            transform: scale(1.2);
            background-color: $primary_color;
          }
        }
      }
    }
  }

  &.has-nav {
    .owl-nav {
      position: absolute;
      top: calc(50% - 1.5rem);
      margin: 0;
      width: 100%;

      button {
        position: absolute;
        @include transition;

        i {
          font-size: 2.4rem;
          padding: 0 0.5rem !important;
        }

        &:hover {
          background-color: transparent;
          transform: scale(1.3);
        }
      }

      .owl-prev {
        right: -1.3rem;
      }

      .owl-next {
        left: -1.3rem;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &.has-nav {
      .owl-nav {
        display: none !important;
      }
    }
  }

  .owl-stage {
    display: flex;
    flex-direction: row;

    &::after {
      display: none;
    }

    .owl-item {
      float: none;
    }
  }
}

.header {
  position: relative;
  height: 135px;
  background-color: $primary_color;

  &__wrapper {
    .container {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      .custom-btn {
        padding: 1rem 2rem;
      }
    }

    &__logo {
      &.logo-sm {
        img {
          width: 90px;
        }
      }
    }
  }

  nav {
    background-color: $secondary_color;

    ul {
      display: flex;

      li {
        padding: 0.5rem 1rem;

        &:first-of-type {
          padding-right: 0;
        }

        a {
          color: $white_color;

          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }

  &__before {
    background-color: #05071f;
    padding: 0.5rem 0;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__phone {
      a {
        color: $white_color;
        margin-left: 1rem;

        i {
          font-size: 1.25rem;
        }

        &:hover {
          color: $third_color;
        }
      }
    }

    &__icons {
      display: flex;
      justify-content: flex-end;

      &__item {
        background-color: $third_color;
        border-radius: 0.5rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem;
        border: 1px solid transparent;
        @include transition;

        i {
          color: $white_color;
          @include transition;
        }

        &:hover {
          background-color: transparent;
          border-color: $third_color;

          i {
            color: $third_color;
          }
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    &__item {
      margin: 0 0.75rem;

      a {
        color: $white_color;

        &:hover {
          color: $third_color;
        }
      }

      &.has-children {
        position: relative;

        & > a {
          &::after {
            content: "\f0d7";
            font-family: "FontAwesome";
            font-weight: 900;
            color: $white_color;
            display: inline-block;
            margin-right: 0.5rem;
            @include transition;
          }
        }

        ul {
          background-color: $secondary_color;

          li {
            width: 100%;
            min-width: 150px;

            & > a {
              display: block;
              padding: 0.5rem 1.5rem;
            }

            &:not(:last-of-type) {
              border-bottom: 1px solid rgba($third_color, 0.4);
            }
          }
        }

        .first-menu {
          position: absolute;
          top: 30px;
          z-index: 5;
          opacity: 0;
          visibility: hidden;
          transform: rotateX(90deg);
          transform-origin: top;
          @include transition;
          width: max-content;

          &__item {
            &.has-children {
              position: relative;

              &::after {
                content: "\f0d9";
                font-family: "FontAwesome";
                font-weight: 900;
                color: $white_color;
                margin-right: 0.5rem;
                display: block;
                position: absolute;
                left: 0.5rem;
                top: calc(50% - 10px);
                @include transition;
              }

              .infinite-menu {
                position: absolute;
                right: 100%;
                top: 0;
                width: max-content;

                opacity: 0;
                visibility: hidden;
                transform: translateX(-1rem);
                @include transition;

                li.has-children {
                  position: relative;

                  &::after {
                    content: "\f0d9";
                    font-family: "FontAwesome";
                    font-weight: 900;
                    color: $white_color;
                    margin-right: 0.5rem;
                    display: block;
                    position: absolute;
                    left: 0.5rem;
                    top: calc(50% - 10px);
                    @include transition;
                  }

                  &:hover {
                    &::after {
                      color: $third_color;
                    }

                    & > .infinite-menu {
                      opacity: 1;
                      visibility: visible;
                      transform: translateX(0);
                    }
                  }
                }
              }

              &:hover {
                &::after {
                  color: $third_color;
                }

                & > .infinite-menu {
                  opacity: 1;
                  visibility: visible;
                  transform: translateX(0);
                }
              }
            }
          }
        }

        &:hover {
          & > .first-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
          }

          & > a {
            color: $third_color;

            &::after {
              color: $third_color;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .fixed-visible {
    display: none;
  }

  &__fixed {
    position: fixed;
    top: -100%;
    z-index: 9999;
    width: 100%;
    background-color: $primary_color;
    @include transition;

    &__shown {
      top: 0;
    }

    .fixed-none {
      display: none;
    }

    .fixed-visible {
      display: block;
    }
  }

  &__mobile {
    display: none;
    padding: 1rem 0;

    .container {
      display: flex;
      justify-content: center;
      position: relative;
    }

    .menu-button {
      display: block;
      font-size: 1.75rem;
      margin: 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      position: absolute;
      right: 1rem;
      top: calc(50% - 19px);

      .nav-icon {
        width: 30px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        @include transition;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 5px;
          width: 50%;
          background: $third_color;
          opacity: 1;
          transform: rotate(0deg);
          @include transition;

          &:nth-child(even) {
            left: 48%;
            border-radius: 0 5px 5px 0;
          }

          &:nth-child(odd) {
            left: 0px;
            border-radius: 5px 0 0 5px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            top: 0px;
          }

          &:nth-child(3),
          &:nth-child(4) {
            top: 12px;
          }

          &:nth-child(5),
          &:nth-child(6) {
            top: 24px;
          }
        }

        &.open {
          span {
            &:nth-child(1),
            &:nth-child(6) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(1) {
              left: 5px;
              top: 10px;
            }

            &:nth-child(2) {
              left: calc(50% - 5px);
              top: 10px;
            }

            &:nth-child(3) {
              left: -50%;
              opacity: 0;
            }

            &:nth-child(4) {
              left: 100%;
              opacity: 0;
            }

            &:nth-child(5) {
              left: 5px;
              top: 15px;
            }

            &:nth-child(6) {
              left: calc(50% - 5px);
              top: 15px;
            }
          }
        }
      }
    }

    img {
      width: 45px;
      height: 45px;
    }

    .mobile-menu {
      position: fixed;
      top: 82.5px;
      height: calc(100vh - 82.5px);
      width: 250px;
      background-color: $secondary_color;
      z-index: 9999;
      right: -100%;
      overflow-y: scroll;
      @include transition;

      &.open {
        right: 0;
      }

      li {
        a {
          display: block;
          padding: 0.6rem 1rem;
          color: $white_color;

          border-bottom: 1px solid rgba($third_color, 0.4);
        }

        &:last-of-type {
          a {
            border-bottom: none;
          }
        }
      }
    }

    .has-children {
      position: relative;

      .arrow {
        color: $white_color;
        position: absolute;
        left: 0;
        top: 0;
        width: 41.5px;
        height: 41.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition;

        &.active {
          color: $third_color;
          transform: rotate(180deg);
        }
      }

      ul {
        padding-right: 1rem;
        max-height: 0;
        overflow: hidden;
        @include transition;

        &.active {
          max-height: 1000px;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    height: 84px;

    &__wrapper,
    nav,
    &__before,
    &__menu,
    &__fixed {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }
}

.bg {
  &__man_with_money {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/man-with-maney.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__two_men {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 45rem;
      background-image: url("../images/men.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__passport {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -15rem;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/passport-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40rem;
      height: 40rem;
      background-image: url("../images/logo-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }
}

.immigration {
  &__intro {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;

    &__img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main-title {
      color: $third_color;
      font-weight: 700;
      position: relative;
      z-index: 2;
      font-size: 3em;

      span {
        font-weight: 500;
        font-size: smaller;
      }
    }

    h3 {
      color: $white_color;
      font-weight: 100;
      position: relative;
      z-index: 2;
      margin-bottom: 1.5rem;
    }

    span {
      color: $white_color;
    }

    .immigration-btn {
      display: none;
    }

    .home-btn {
      position: relative;
      z-index: 9;
      top: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        101.48deg,
        rgba(0, 0, 0, 0) 38.1%,
        rgba($primary_color, 0.8) 57.95%,
        $primary_color 70.54%
      );

      z-index: 1;
    }

    &.larg_intro {
      height: 560px;
    }

    @media only screen and (max-width: 768px) {
      padding: 0;

      &__img {
        position: unset;
        height: 280px;
      }

      .main-title {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      h3 {
        color: $dark_color;
        text-align: center;
        max-width: 230px;
        margin: 0 auto;

        &::after {
          content: "";
          display: block;
          width: 150px;
          height: 3px;
          background-color: $third_color;
          margin: 0 auto;
          margin-top: 1rem;
          margin-bottom: 1.5rem;
        }
      }

      span {
        color: $dark_color;
      }

      .immigration-btn {
        display: block;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5rem;
      }

      &::after {
        content: unset;
      }

      .home-btn {
        position: unset;
        display: block;
        max-width: 230px;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        color: $white_color;
      }

      .long-text {
        font-size: 1rem;
        color: $text_color;

        &::after {
          content: unset;
        }
      }

      &.larg_intro {
        height: unset;
      }
    }
  }

  &__nav {
    background-color: $secondary_color;

    ul {
      display: flex;
      padding: 0.75rem 0;

      li {
        padding: 0 1rem;
        position: relative;
        border-right: 2px solid $third_color;

        &:first-of-type {
          padding-right: 0;
          border-right: none;
        }

        a {
          color: $white_color;

          &:hover {
            color: $third_color;
          }
        }
      }
    }
  }

  &__content {
    .main-title {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      &.text-center {
        &::after {
          position: relative;
          right: calc(50% - 75px);
        }
      }
    }

    p {
      font-weight: 300;
      color: $text_color;
      font-size: 1rem;
    }

    .video {
      border-radius: 1rem;
      overflow: hidden;
      width: 100%;
      height: auto;

      iframe {
        border-radius: 1rem;
        overflow: hidden;
      }
    }

    @media only screen and (max-width: 768px) {
      .main-title {
        text-align: center;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }

      p {
        text-align: center;
      }

      .video {
        margin-top: 1.5rem;
      }
    }
  }

  &__slider {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__tabs {
      background-color: $gray_color;
      border-radius: 1rem;
      width: 750px;
      margin: 0 auto;
      display: flex;
      position: relative;
      margin-bottom: 2rem;

      &__btn {
        width: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        position: relative;
        z-index: 2;
        color: $blue_color;
        font-weight: 700;
        cursor: pointer;
        @include transition;

        &:hover {
          color: $secondary_color;
        }

        &.active {
          color: $white_color;

          &:hover {
            color: $white_color;
            transform: translateY(-6px);
          }
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 33.3%;
        background-color: $primary_color;
        border-radius: 1rem;
        z-index: 1;
        right: 0;
        @include transition;
      }

      &.active-1 {
        &::before {
          right: 0;
        }
      }

      &.active-2 {
        &::before {
          right: 33.3%;
        }
      }

      &.active-0 {
        &::before {
          right: 66.6%;
        }
      }
    }

    &__item {
      background-color: $gray_color;
      border-radius: 1rem;
      height: 100%;
      @include transition;

      &__img {
        border-radius: 1rem;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      &__content {
        padding: 1.5rem 1rem;
        padding-top: 3rem;
        position: relative;

        &__logo {
          position: absolute;
          right: 1rem;
          top: -3rem;
          width: 6rem !important;
          height: 6rem;
          background-color: $white_color;
          border-radius: 100%;
          padding: 0.5rem;
          border: 5px solid $gray_color;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .name {
          font-weight: 700;
          font-size: 1.3rem;
          color: $dark_color;
          margin-bottom: 0.5rem;
        }

        .desc {
          font-weight: 700;
          font-size: 1rem;
          color: $blue_color;
          margin-bottom: 1rem;
        }

        .key {
          color: $dark_color;
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          display: flex;
        }

        .value {
          color: $text_color;
          font-weight: 500;
          font-size: 1rem;
          margin-right: 0.5rem;
        }
      }

      &:hover {
        box-shadow: 0px 0px 13px rgba(10, 14, 62, 0.25);
      }
    }

    &__wrapper {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transform: translateX(20px);
      @include transition;

      &.active-tab {
        opacity: 1;
        visibility: visible;
        max-height: unset;
        transform: translateX(0);
      }
    }

    .owl-stage-outer {
      padding: 1rem 0;
    }

    &.gray-bg {
      .immigration__slider__item,
      .immigration__slider__tabs {
        background-color: $white_color;
      }
    }

    @media only screen and (max-width: 768px) {
      &__tabs {
        display: none;
      }

      &__item {
        &__content {
          .key,
          .value {
            font-size: 0.9rem;
          }
        }
      }

      &.gray-bg-md {
        .immigration__slider__item,
        .immigration__slider__tabs {
          background-color: $white_color;
        }
      }

      &.white-bg-md {
        .immigration__slider__item,
        .immigration__slider__tabs {
          background-color: $gray_color;
        }
      }
    }
  }

  &__countries {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark_color;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    &__item {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        filter: grayscale(1);
        @include transition;
        margin-bottom: 1rem;
      }

      div {
        text-align: center;
        position: relative;
        top: 50px;
        font-weight: 800;
        @include transition;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }

        &__item {
          img {
            margin-bottom: 1rem;
          }
        }

        div {
          top: 0;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__title {
        text-align: center;
        font-size: 1.2rem;
        max-width: 250px;
        margin: 0 auto;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__item {
        img {
          margin-bottom: 1rem;
          transform: scale(0.75);
        }

        div {
          font-size: 1.5rem;
        }
      }

      .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .center {
        .immigration__countries__item {
          img {
            filter: grayscale(0);
            transform: scale(1);
          }

          div {
            top: 0;
          }
        }
      }
    }
  }

  &__contact_us {
    .main-title {
      font-weight: 700;
      color: $dark_color;
      font-size: 1.5rem;
    }

    p {
      font-weight: 400;
      color: $text_color;
      font-size: 1rem;

      &::after {
        content: "";
        display: block;
        width: 200px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    img {
      border-radius: 1rem;
    }

    @media only screen and (max-width: 768px) {
      .main-title {
        text-align: center;
      }

      p {
        text-align: center;

        &::after {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

.home {
  &__content {
    width: 100vw;
    overflow: hidden;

    &__img {
      padding: 0;
      margin: 0;

      img {
        display: block;
        width: 100%;
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .main-title {
        font-weight: 400;
        font-size: 2rem;
        color: $dark_color;
        border-right: 2px solid $third_color;
        padding-right: 1rem;
        margin-bottom: 2rem;
      }

      p {
        font-weight: 300;
        font-size: 1rem;
        color: $text_color;
      }
    }

    .row:nth-child(even) {
      flex-direction: row-reverse;
    }

    @media only screen and (max-width: 768px) {
      &__data {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .main-title {
          border-right: unset;
          padding-right: 0;
          text-align: center;

          &::after {
            content: "";
            display: block;
            width: 150px;
            height: 3px;
            background-color: $third_color;
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
        }

        p {
          text-align: center;
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__special {
    background-color: $primary_color;
    background-image: url("../images/Globe.png");
    background-position: center 7rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 0;

    .title {
      color: $third_color;
      font-size: 2rem;
      padding-right: 1.5rem;
      border-right: 2px solid $third_color;
    }

    .desc {
      color: $white_color;
      font-weight: 500;
      font-size: 1rem;
    }

    @media only screen and (max-width: 768px) {
      .title {
        padding-right: 0;
        border-right: 0;
        text-align: center;
        width: 100%;
      }

      .desc {
        text-align: center;
      }
    }
  }

  &__reasons {
    &__title {
      text-align: center;
      margin-bottom: 3rem;

      .main-title {
        font-weight: 900;
        font-size: 2rem;
        color: $dark_color;
      }

      p {
        font-weight: 500;
        font-size: 1rem;
        color: $text_color;
        max-width: 650px;
        margin: 0 auto;
      }
    }

    &__item {
      text-align: center;

      img {
        width: 7rem !important;
        height: auto;
        margin: 0 auto;
      }

      .title {
        color: $third_color;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }

      .desc {
        color: $text_color;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    &__slider {
      .owl-nav {
        i {
          color: $third_color;
        }
      }
    }
  }

  &__our_team {
    background-color: $primary_color;
    padding: 5rem 0;
    max-width: 100vw;
    overflow: hidden;

    .title {
      color: $white_color;
      font-weight: bold;
      font-size: 2rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      width: 200px;
    }

    &__item {
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
        @include transition;
      }

      &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $secondary_color;
        color: $white_color;
        padding: 0 1rem;
        padding-bottom: 1rem;
        padding-top: 0.75rem;
        bottom: -100%;
        @include transition;

        .name {
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
        }

        .job {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }

        .more {
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          color: $third_color;
          font-size: 1rem;
          font-weight: 400;
          width: max-content;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .home__our_team__item__content {
          bottom: 0;
        }
      }
    }

    .owl-nav {
      .owl-next {
        left: 2rem !important;
      }

      .owl-prev {
        right: 2rem !important;
      }

      button {
        background-color: $white_color !important;
        width: 2rem;
        height: 2rem;
        border-radius: 100% !important;
        display: flex !important;
        justify-content: center;
        align-items: center;

        i {
          font-size: 1rem !important;
        }
      }
    }
  }

  &__media {
    padding: 5rem 0;

    .title {
      font-weight: bold;
      font-size: 1.8rem;
      padding-right: 1rem;
      border-right: 2px solid $third_color;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 768px) {
      .title {
        border-right: 0;
        padding-right: 0;
        text-align: center;

        &::after {
          content: "";
          display: block;
          width: 150px;
          height: 3px;
          background-color: #c19463;
          margin: 0 auto;
          margin-top: 1rem;
          margin-bottom: 1.5rem;
        }
      }

      .d-flex {
        flex-direction: column;

        img {
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
  }

  &__news {
    &__title {
      font-weight: 700;
      color: #333333;
      font-size: 1.5rem;
      text-align: center;

      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: $third_color;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        right: calc(50% - 75px);
      }
    }

    &__item {
      padding-bottom: 0.5rem;

      &__img {
        overflow: hidden;
        display: block;

        img {
          @include transition;
        }
      }

      .title {
        font-weight: bold;
        font-size: 1.3rem;
        color: $dark_color;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1rem;
        color: $text_color;
        margin-bottom: 1rem;
      }

      .custom-btn {
        display: block;
        width: max-content;
        padding: 0.5rem 1.5rem;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    @media only screen and (max-width: 768px) {
      &__item {
        .title,
        .desc {
          text-align: center;
        }

        .custom-btn {
          margin: 0 auto;
        }
      }
    }
  }
}

.btn-landing {
  height: calc(100% - 1rem);
}

// footer

footer p,
footer span {
  font-size: 14px;
}

footer .nav-bordered li {
  border-color: rgba(255, 255, 255, 0.5);
}

footer .nav-bordered li:last-child {
  border: none;
}

footer .nav-bordered li .nav-link {
  padding: 0 0.5rem;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.nav-bordered li {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-bordered li:last-child {
  border: none;
}

.nav-bordered li .nav-link {
  padding: 0 1rem;
  color: #444;
  font-size: 18px;
}

.nav-socials .nav-link i.fab {
  color: #c19463;
  font-size: 20px;
  margin-left: 4px;
}

.nav-socials .nav-link {
  color: $white_color;

  &:hover {
    color: $third_color;
  }
}

.nav-socials .nav-link img,
.nav-socials .nav-link svg {
  filter: invert(1);
}

.footer-left-panel {
  background: #232336;
  padding: 40px 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-right-panel {
  padding-top: 40px;
  @media only screen and (max-width: 768px) {
    & > .nav-item {
      margin-bottom: 1rem;
    }
  }
}

.section {
  position: relative;
  background-color: white;
  width: 100%;
  padding: 30px 10px;
}

.colored-section {
  background-color: #0a0c41;
  color: #fff;
}

.colored-section h1,
.colored-section h2,
.colored-section h3,
.colored-section h4,
.colored-section h5,
.colored-section a {
  color: $white_color;
}
.colored-section a:hover {
  color: $third_color;
}

.fab.fa-whatsapp {
  color: #25d366;
}