$white_color: #ffffff;
$dark_color: #333333;
$black_color: #05071f;
$text_color: #808080;
$white_text: #9395aa;
$gray_color: #ededed;
$primary_color: #0a0e3e;
$secondary_color: #080c33;
$third_color: #c19463;
$blue_color: #3f458a;
$red_color: #f53b57;
$yellow_color: #f2c94c;
$figma_text: #fafafa;

table {
  border: 1px solid $third_color !important;
  border-radius: 1rem !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 2rem !important;
  width: 100% !important;
  border-collapse: unset !important;

  tr {
    background-color: transparent !important;
    color: $white_color !important;
    border: unset !important;

    &:not(:last-child) {
      td {
        border-bottom: 1px solid $third_color !important;
        border-top: unset !important;
      }
    }

    &:last-child {
      border: unset !important;
    }

    td {
      .wptb-text-container {
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
      }

      &:first-child {
        border-left: 1px solid $third_color !important;
        padding: 1.5rem 1rem !important;
        font-size: 1rem !important;
        font-weight: 200 !important;
        color: $figma_text !important;

        p {
          font-size: 1rem !important;
          font-weight: 200 !important;
          color: $figma_text !important;
          text-align: right !important;
        }
      }

      &:last-child {
        padding: 1.5rem 1rem !important;
        display: flex !important;
        align-items: center !important;
        font-size: 1rem !important;
        font-weight: 700 !important;
        color: $white_color !important;

        p {
          font-size: 1rem !important;
          font-weight: 700 !important;
          color: $white_color !important;
          text-align: right !important;
        }
      }
    }
  }
}
